@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.fa {
    padding: 15px;
    font-size: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px 5px 0;
    border-radius: 25%;
}

.fa-facebook {
    background: #3b5998;
    color: #ffffff;
}

.fa-twitter {
    background: #55acee;
    color: #ffffff;
}

.fa-linkedin {
    background: #007bb5;
    color: #ffffff;
}